@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
.nav{
    color: #56B280;
    margin: 2%;
}
.main{
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: auto;
    margin-top: 4%;
}
.create{
    padding-bottom: 3%;
    text-decoration: none;
}
