<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style1.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <title>Log In</title>
</head>
<body>
  <nav><div class="nav"><h2>GadgetEase</h2></div></nav>
    <section class="main">
      <form id="myForm" method="post" action="/login">
          <h2>Sign in to</h2><h1 style="color: #56B280;">GadgetEase</h1>
            <div class="form-outline mb-4">
              <input type="text" id="name" placeholder="User name" class="form-control" name="username" required/>
            </div>
          
            <div class="form-outline mb-4">
              <input type="password" placeholder="Password" id="pass" class="form-control" name="password" required />
            </div>
          
            <div class="col d-flex justify-content-center">
              <% if (errorMessage) { %>
                <p style="color: red;"><%= errorMessage %></p>
            <% } %>
            </div>
            <div class="row mb-4">
              <div class="col d-flex flex-column justify-content-center">
                <a href="/signup" class="create">Forgot password ?</a><br>
                <a href="/signup" class="create">Register?</a>
              </div>
          
            <button type="submit" class="btn btn-success shadow btn-block mb-4" >Sign in</button>
          
          </form>
    </section>
    
</body>
<script src="/js/validation.js"></script>
</html> 